# Python-related files
__pycache__/
*.pth

.venv/*
venv/*

# Logs and checkpoints
lightning_logs/
runs/
slurm_logs/

# Project-specific directories
ARM/
BAMBENW2/
floods/

*.png
results/*/*/wandb/
wandb/*
*.egg-info/*
results/*